:root {
  background: #fff;
  color: #000;
  border-top: 4px solid;
  font-family: serif;
}
a {
  color: #00f;
  text-decoration: none;
}
a:focus {
  text-decoration: underline;
}
a:visited {
  color: #009;
}
a, code {
  word-wrap: break-word;
}
button {
  cursor: pointer;
}
code {
  font-family: monospace;
}
footer, header, main, nav {
  max-width: 700px;
  margin: 0 auto;
}
footer hr, header hr {
  display: none;
}
footer {
  border-top: 1px dashed;
}
header {
  border-bottom: 1px dashed;
}
input[type="radio"], input[type="checkbox"] {
  cursor: pointer;
}
label, select {
  cursor: pointer;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  display: block;
  background: #eee;
  padding: 1em;
}
table {
  width: 100%;
}
textarea {
  display: block;
  width: 100%;
  min-height: 250px;
}
[hidden] {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #000;
    color: #fff;
  }
  a {
    color: #aaf;
  }
  a:visited {
    color: #77c;
  }
  pre code {
    background: #111;
  }
}
