* {
  box-sizing: border-box;
}
:root {
  background: #fff;
  color: #000;
  border-top: 4px solid;
  font-family: serif;
}
a {
  color: #009;
  text-decoration: none;
}
a, code {
  word-wrap: break-word;
}
button, input, select, textarea {
  background: #ffa;
  border: 1px solid;
  color: inherit;
  margin: 0;
  padding: .25em;
  font: inherit;
}
button {
  background: #009;
  color: #fff;
  border: 0;
  font-weight: bolder;
  padding-right: .5em;
  padding-left: .5em;
  cursor: pointer;
}
button::-moz-focus-inner {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
code, textarea {
  font-family: monospace;
}
details label {
  display: block;
  margin: 0 0 0 1.25em;
  position: relative;
}
details label + br {
  display: none;
}
details label input[type="checkbox"],
details label input[type="radio"] {
  margin: .15em .5em 0 0;
  position: absolute;
  top: 0;
  right: 100%;
}
footer, header, main, nav {
  max-width: 700px;
  margin: 0 auto;
}
hr {
  border: 0;
  color: inherit;
  border-top: 1px dashed;
  height: 0;
}
input[type="checkbox"], input[type="radio"] {
  cursor: pointer;
}
label, select, summary {
  cursor: pointer;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  display: block;
  background: #eee;
  padding: 1em;
}
table {
  width: 100%;
}
td, th {
  text-align: left;
  vertical-align: top;
}
textarea {
  display: block;
  width: 100%;
  min-height: 250px;
  resize: vertical;
}
textarea[readonly] {
  border-style: dotted;
}
[hidden] {
  display: none;
}
body > p:first-child {
  background: #cde;
  margin: 0;
  padding: .75em 1em;
}
